* {
    box-sizing: border-box;
}

.parent {
    background-color: gainsboro;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    padding: 5px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.parent div {
    background-color: rgba(28, 124, 116, 0.898);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 5px;
}

.one,
.three {
    align-self: flex-end;
}

.two {
    align-self: flex-start;
    width: 50%;
}