    .parent {
        width: 800px;
        background-color: gainsboro;
        box-sizing: border-box;
    }
    
    .parent div {
        background-color: rgb(177, 177, 177);
        text-align: center;
        margin: 10px;
        float: left;
    }
    
    .half p {
        width: clac((100% - 15px) / 2);
        margin-right: 15px;
        border: 1px solid black;
    }