* {
    box-sizing: border-box;
}

.parent {
    background-color: gainsboro;
    width: 600px;
    height: 300px;
    margin: auto;
    padding: 5px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.parent div {
    background-color: rgb(94, 117, 129);
    color: white;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    order: 6;
    height: 30px;
    align-self: flex-end;
}

.two {
    order: 5;
}

.three {
    order: 2;
    height: 30px;
}

.four {
    order: 3;
}

.five {
    order: 3;
}

.six {
    order: 1;
}