div {
    width: 400px;
    margin: auto;
    font-size: 20px !important;
    color: gainsboro!important;
    background-color: gainsboro !important;
    font-size: 0;
    border: none!important;
}

div::before {
    content: "Elzero";
    color: black;
    left: 47%;
    position: absolute;
}